* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Tahoma, sans-serif;
  background-color: #0e1303a9;
}
.control-buttons {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
  background-color: rgba(92, 88, 88, 0.9);
}
.control-buttons span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f44336;
  color: #fff;
  padding: 15px 25px;
  font-size: 30px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}
.control-buttons span:hover {
  background-color: #f81100;
  font-size: 33px;
}
.info-container {
  max-width: 1080px;
  margin: 20px auto 0;
  background-color: #f6f6f6;
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  height: 72px;
  border: 2px solid #2196f3;
  user-select: none;
}
.info-container .name {
  float: left;
  width: 50%;
}
.info-container .tries {
  float: right;
  width: 50%;
  text-align: right;
}

.memory-game-blocks {
  max-width: 1100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  margin: 20px auto;
}
@media (max-width: 767px) {
  .memory-game-blocks {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }
}
.memory-game-blocks.no-clicking {
  pointer-events: none;
}
.memory-game-blocks .game-block {
  height: 200px;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  flex: 1 0 200px;
  margin: 0 10px 20px;
}
.memory-game-blocks .game-block .front {
  background-color: #333;
  line-height: 200px;
}
.memory-game-blocks .game-block .front:before {
  content: "!";
  color: #fff;
  font-size: 140px;
  font-weight: bold;
}
.memory-game-blocks .game-block .back {
  background-color: #607d8b;
  transform: rotateY(180deg);
}
.memory-game-blocks .game-block .back img {
  width: 140px;
  height: 140px;
  margin-top: 30px;
}
.memory-game-blocks .game-block .face {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  backface-visibility: hidden;
  border: 5px solid #2196f3;
}
.memory-game-blocks .game-block.is-flipped,
.memory-game-blocks .game-block.has-match {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  pointer-events: none;
}
